@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,700&display=swap");

:root {
  --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  --black: #1a1a1a;
  --white: $ffffff;
  --ghostwhite: #f8f8ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  color: var(--black);
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
  background: var(--ghostwhite);
  font-size: 1.1rem;
  color: var(--black);
  box-shadow: var(--box-shadow);
}

nav a:last-child {
  margin: 0 0 0 2rem;
}

a,
a:active,
a:hover,
a:visited,
a:focus {
  color: var(--blue);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
}

input {
  width: 30%;
  margin: 2rem 1rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.3rem;
  outline: 0;
  opacity: 0.6;
  background: var(--ghostwhite);
  box-shadow: var(--box-shadow);
  font-size: 1.3rem;
}
input::placeholder {
  color: salmon;
}
input:focus::placeholder {
  opacity: 0.2;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 1.5rem;
}

.card {
  text-align: center;
  border-radius: 0.3rem;
  background: var(--ghostwhite);
  box-shadow: var(--box-shadow);
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-content: middle;
  margin: 2rem;
  vertical-align: middle;
}

img {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

footer {
  /* border-top: solid 1px rgba(211, 211, 211, 0.3); */
  background: var(--paleblue);
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 3rem 0 4rem;
}

@media screen and (max-width: 1200px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  section {
    grid-template-columns: 1fr;
  }
}
